.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.auth-text-container {
    margin-top: 20px;
}

.auth-buttons-container {
    display: flex;
    flex-direction: column;
}